* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Hanken Grotesk';
    box-sizing: border-box;
    background-color: hsl(221, 100%, 96%);
}
.summary-content-container {
    margin: auto;
}
.result-content-box {
    border: 1px solid hsl(221, 100%, 96%);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: hsl(241, 81%, 54%);
    padding: 40px;
    h3 {
        text-align: center;
        color: hsl(240, 12%, 80%);
    }
    .circle-design {
        border-radius: 999px;
        width: 100px;
        height: 100px;
        margin: 20px auto;
        padding: 15px;
        background-image: linear-gradient(to bottom, rgb(61, 35, 135), hsla(241, 72%, 46%, 0)) ;
    }
    .numbers {
        display: grid;
    }
    .seventy-six {
        font-weight: 800;
        font-size: 50px;
        text-align: center;
        margin-top: 15px;
        color: white;
    }
    .hundred {
        text-align: center;
        color: hsl(241, 29%, 68%);
        font-weight: 500;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
    }
    p {
        text-align: center;
        font-weight: 500;
        color: hsl(241, 29%, 68%);
        font-size: 18px;
        margin-top: 15px;
    }
}
.summary-content-box {
    border: 1px solid hsl(221, 100%, 96%);
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    h3 {
        font-weight: 800;
    }
}
.reaction {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
    background-color: hsla(0, 100%, 67%, 0.1);
    .reaction-text {
        color: hsl(0, 100%, 67%);
        font-weight: 600;
    }
    .reaction-number {
        font-weight: 600;
        color: hsl(240, 4%, 58%);
    }
}
.figure {
    color: hsl(223, 30%, 14%);
}
.separation-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action {
        display: flex;
        gap: 10px;
    }
}

.memory {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: hsla(39, 100%, 56%, 0.1);
    .memory-text {
        color: hsl(39, 100%, 56%);
        font-weight: 600;
    }
    .memory-number {
        color: hsl(240, 12%, 58%);
        font-weight: 600;
    }
}
.separation-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action2 {
        display: flex;
        gap: 10px;
    }
}
.verbal {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: hsla(166, 100%, 37%, 0.1);
    .verbal-text {
        color: hsl(166, 100%, 37%);
        font-weight: 600;
    }
    .verbal-number{
        color: hsl(240, 12%, 58%);
        font-weight: 600;
    }
}
.separation-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action3 {
        display: flex;
        gap: 10px;
    }
}

.visual {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: hsla(234, 85%, 45%, 0.1);
    .visual-text {
        color: hsl(234, 85%, 45%);
        font-weight: 600;
    }
    .visual-number {
        color: hsl(240, 12%, 58%);
        font-weight: 600;
    }
}
.separation-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action4 {
        display: flex;
        gap: 10px;
    }
}

button {
    border: 1px solid;
    border-radius: 40px;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: hsl(223, 30%, 14%);
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color: hsl(241, 81%, 54%);
}

@media (min-width: 768px) {
    .summary-content-container {
        width: 650px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .result-content-box {
        border-radius: 30px;
    }
    .summary-content-box {
        box-shadow: 1px 1px 3px hsl(241, 100%, 89%);
        border-radius: 30px;
    }
    .result-content-box {
        h2 {
            margin-top: 50px;
        }
    }
}