* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Hanken Grotesk';
}
.summary-content-container {
    margin: 30px auto;
}
.result-content-box {
    border: 1px solid;
    border-radius: 15px;
    background-color: hsl(241, 81%, 54%);
    padding: 40px;
    h3 {
        text-align: center;
        color: hsl(241, 100%, 89%);
    }
    .circle-design {
        border: 1px solid;
        border-radius: 999px;
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }
    .seventy-six {
        font-weight: 800;
        font-size: xx-large;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
    }
    p {
        text-align: center;
        font-weight: 500;
        color: hsl(241, 100%, 89%);
        font-size: 18px;
        margin-top: 15px;
    }
}
.summary-content-box {
    border: 1px solid;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    h3 {
        font-weight: 800;
    }
}
.reaction {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
    background-color: hsla(0, 100%, 67%, 0.1);
    .reaction-text {
        color: hsl(0, 100%, 67%);
        font-weight: 600;
    }
    .reaction-number {
        font-weight: 600;
        color: hsl(240, 4%, 58%);
    }
}
.figure {
    color: hsl(223, 30%, 14%);
}
.separation-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action {
        display: flex;
        gap: 10px;
    }
}

.memory {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: hsla(39, 100%, 56%, 0.1);
    .memory-text {
        color: hsl(39, 100%, 56%);
        font-weight: 600;
    }
    .memory-number {
        color: hsl(240, 12%, 58%);
        font-weight: 600;
    }
}
.separation-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action2 {
        display: flex;
        gap: 10px;
    }
}
.verbal {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: hsla(166, 100%, 37%, 0.1);
    .verbal-text {
        color: hsl(166, 100%, 37%);
        font-weight: 600;
    }
    .verbal-number{
        color: hsl(240, 12%, 58%);
        font-weight: 600;
    }
}
.separation-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action3 {
        display: flex;
        gap: 10px;
    }
}